/.ipynb_checkpoints
/.main.tf.swo
/.main.tf.swp
/.ssh
/.terraform
/.terraform.lock.hcl
/Dockerfile
/Test
/Testt
/Untitled.ipynb
/airflow-docker
/de-zoomcamp-files
/docker-compose.yaml
/ingest_data.py
/main.tf
/ny_taxi_postgres_data
/pipeline.py
/postgres
/ssh
/terraform.tfstate
/terraform.tfstate.backup
/variables.tf
/yellow_tripdata_2021-01.parquet